# Entornos virtuales
venv/
env/
ENV/
.env
**/.env
.venv/

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/

# Node (Frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bases de datos y archivos dinámicos
*.db
*.sqlite3
instance/

# Backup y temporales
*backup*
*.bak
*~
*.html[0-9]*
*.tmp

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de modelo
*.pkl
*.joblib

# Logs
*.log
